/* Globals */

:root {
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* imagen principal como header */
.hero {
    background-image: linear-gradient(to top, rgb(255, 255, 255, .3), transparent), url('../image/patron-1.png');
    height: 250px;
}

/* header */

header {
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    position: absolute;
    top: 64px;
    left: -232px;
    margin-left: 26px;
    margin-right: 36px;
}

.header {
    position: sticky;
    top: 16px;
    inset-block-start: -45px;
}

.header-content {
    position: relative;
}

.wrapper {
    width: 902px;
    margin: auto;
}

header li {
    margin-bottom: 16px;
}

header a {
    color: var(--gray10)1;
    text-decoration: none;
}

header a:hover {
    color: #212121;
}

nav details summary {
    font-weight: bold;   
    line-height: 24px; 
}

a {
    color: var(--gray);
}

/* main */

.main-wrapper {
    width: 902px;
    margin: auto;
}

.main-content {
    background-color: #fff;
}


/* section-content 1 */

h1 {
    font-size: 60px;
    margin: 64px 0 16px; 
}

hr {
    margin: 64px 0;
}

h2 {
    font-size: 2em;
    margin: 64px 0 0;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

blockquote {
    font-size: 24px;
    margin: 32px 0 64px;
    padding-left: 16px;
    border-left: 4px solid var(--gray30);
    line-height: 24px;
}

blockquote span {
    color: var(--gray30);
}

blockquote span:before {
    content: '-';
}



/* edit section-content globals */

.section-content {
    margin-top: 164px;
}

.section-content img[class="logo"] {
    margin-top: 40px;
}

.img {
    width: 100%;
    height: 100%;
}

.img-dom {
    width: 100%;
    height: 100%;
}

.section-content:first-of-type {
    margin-top: 0;
}

.content__2 {
    margin-top: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content + hr {
    display: none;
}

.section-content img {
    margin-top: 0;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 4px;
}

.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}

.section-content h3::after  {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: block;
    margin-top: 4px;
}

.cta-email {
    text-decoration: none;
}

/* Slider */

.main-content {
    padding-inline: 16px;
}

.section-slider {
    margin-top: 0;
}

.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.slider-slide {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.slider iframe {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    margin-block-start: 16px;
    text-align: center;
}

.video {
    background: var(--gray30);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Formulario */

.title-form {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 2em;
}

.form input {
    inline-size: 280px;
    block-size: 48px;
    box-sizing: border-box;
    border: 1px solid #000000;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    display: inline-block;
    margin-inline-end: 10px;
}

.form input:nth-child(2) {
    margin-inline-end: 0;
    inline-size: 280px;
}

.form input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    inline-size: 119px;
    margin-inline-start: -57px;
}

.form input::-webkit-input-placeholder {
    color: #000000;
}

/* footer */
.footer {
    margin-block-start: 104px;
    background: #212429;
    block-size: 174px;
}

.footer p {
    color: #ffffff;
    font-size: 16px;
}

.footer a {
    display: inline-block;
    padding: 5px;
    margin-inline-end: 16px;
}

.footer-container {
    width: 366px;
    height: 78px;
    position: relative;
    left: 500px;
    top: 48px;
    text-align: center;
}
